.Container,
html,
body {
  height: 100%;
  margin: 0;
}

.container {
  display: flex;
  flex-direction: column;
  margin-right: 0px;
  margin-left: 0px;
  padding-left: 0px;
  padding-right: 0px;
  width: 100vw;
  height: 100vh;
}

.mapListContainer {
  display: flex;
  flex-direction: row;

  width: 100vw;

  overflow: hidden;
}

.map {
  flex: 1;
  position: relative;
  max-width: 65%;
  max-height: 90%;
}

.ViewList {
  width: 35%;
  margin-left: 0px;
  overflow: scroll;
  height: 100%;
}

.filterList {
  display: flex;
  flex-direction: column;
  padding-left: 2rem;
}

.filterListInside {
  display: flex;
  flex-direction: row;
  flex: 1;
}

.filterText {
  flex: 1;
}

.filterStar {
  flex: 1;
}

#title {
  padding-left: 30px;
  font-size: 50px;
}
#filterButton {
  color: white;
  background-color: #00b2ee;
  border-color: #00b2ee;
}

ol {
  padding-left: 3rem;
}
